* {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
 
body { display:none; background-color: #faf9f6;}
a, em, strong { font: inherit; }
a { color: #fd5634;}
a:visited { color: #fd5634; }
a:hover { color: red !important; }

em { font-style: italic; }
strong { font-weight: bold; }

/* Grids */

.grid-cover {
	display: grid;
	grid-template-areas: ". cover .";
	grid-template-columns: 1fr 7fr 1fr;
	max-width: 1600px;
	margin: 0 auto;
}

.grid-content {
	display: grid;
	grid-template-areas: ". content .";
	grid-template-columns: 1fr 6fr 3fr;
}

.grid-right-code {
	display: grid;
	grid-template-areas: ". content code-block .";
	grid-template-columns: 1fr 3fr 4fr 1fr;
}

.grid-left-code {
	display: grid;
	grid-template-areas: ". code-block content.";
	grid-template-columns: 1fr 4fr 3fr 1fr;
}

.grid-code-only {
	display: grid;
	grid-template-areas: ". code-block .";
	grid-template-columns: 1fr 6fr 3fr;
}

#grid-prev-next {
	display: grid;
	grid-template-areas: ". prev next .";
	grid-template-columns: 1fr 3.5fr 3.5fr 1fr;
	padding-bottom: 20vh;
}

#grid-prev-next > div.prev {
	text-align: left;
}

#grid-prev-next > div.next {
	text-align: right;
}

#grid-prev-next a {
	font-size: 1rem;
	font-family: 'Lora', serif;
	font-weight: 400;
	color: #fa6122;
	text-decoration: none;
	border-bottom: dotted 1px #fd5634;
}

.content { grid-area: content; }
.code-block { grid-area: code-block; }
.prev { grid-area: prev; }
.next { grid-area: next; }

/* code-block */
.code-block {
	background-color: #3d4e5b;
	/*background-color: #006ea5;*/
	border-radius: .5rem;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
}

.code-block.large pre {
	font-size: 1rem;
	line-height: 1.4rem;
}

pre, pre span {
	color: #c3eaff;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.7rem;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
 	line-height: 1.1rem;
}


pre span.emphasis {
	font: inherit;
	color: #ffed95 !important;
}

/* menu */
.menu {
	display: none;
	position: fixed;
	margin: 1rem 0 0 1rem;
	top: 0;
	left: 0;
	font-family: 'Fredericka the Great', sans-serif;
}

.menu > a {
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding: .4rem;
	border-radius: .2rem;
	background-color: #fff;
	border: solid 2px #efefef;
}

.menu > a:hover {
	color: #fd5634;
	border-color: #000;
}


.toc {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	background:rgba(255,255,255,0.5);
}

.toc > ul {
	grid-area: toc;
	list-style-type: none;
	padding: .5rem .6rem;
	border: solid 2px #fd5634;
	border-radius: .2rem;

}

.toc > ul > li {
	margin-top: .4rem;
	font-family: 'Lora', sans-serif;
	font-size: .8rem;
}

.toc > ul > li.extended {
	font-family: 'Lora', sans-serif;
	font-size: .7rem;
}

.toc > ul > li > a {
	color: #fd5634;
	text-decoration: none;
}

.toc > ul > li > a.selected {
	font-weight: 700;
}

.toc > ul > li > a:hover {
	color: #f5360f;
	text-decoration: underline;
}

/* cover */

.cover {
	grid-area: cover;
	height: 68vh;
	padding-top: 32vh;
	vertical-align: middle;
}

.cover > h1 {
	font-size: 4rem;
	font-family: 'Fredericka the Great', sans-serif;
	font-weight: 400;
}

.cover > h2 {
	font-size: 1.2rem;
	font-style: italic;
	font-family: 'Lora', sans-serif;
	font-weight: 400;
}

.cover > h3 {
	padding-top: 1.4rem;
	font-size: 1.1rem;
	font-family: 'Lora', sans-serif;
	color: #fd5634;
	font-weight: 400;
	text-align: right;
}

.cover > h4 {
	padding-top: 1rem;
	font-size: 1rem;
	font-style: italic;
	font-family: 'Lora', sans-serif;
	font-weight: 400;
	text-align: right;
}

.cover > h4 > a {
	text-decoration: none;
	background-color: #fd5634;
	color: #fff;
	border-radius: .4rem;
	border: solid 2px #fd5634;
	font-size: 1rem;
	padding: .4rem 1rem;
	display: inline-block;
}

.cover > h4 > a:hover {
  background-color: #fff;
}

.cover > h5 {
  	padding-top: 2rem;
  	font-size: 0.7rem;
	font-family: 'Lora', sans-serif;
	font-weight: 400;
	text-align: center;
}


/* chapter */
.chapter {
	padding-top: 20vh;
	padding-bottom: 2rem;
	max-width: 1800px;
	margin: 0 auto;
}

/* content */

.content > h4 {
	font-family: 'Lora', serif;
	padding: 0 2rem;
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.content > h2, h3 {
	font-family: 'Fredericka the Great', sans-serif;
	font-weight: 400;
}
.content > h2 {
	padding: 2rem;
	padding-top: 1rem;
	font-size: 3rem;
	line-height: 3rem;
}

.content > h3 {
	padding: 1rem 2rem;
	font-size: 2rem;
}

.content > p {
	font-size: 1rem;
	line-height: 1.7rem;
	padding: 0 2rem;
	margin-bottom: 1.5rem;
	font-family: 'Lora', serif;
}

.grid-right-code > .content > p {
	padding-left: 0;
}

.content > p.smaller { 
	font-size: .8rem; 
	line-height: 1.1rem;
}
.content > p.emphasis { font-size: 1.2rem; }

.content > ul {
	padding: 0 2rem .5rem 3rem;
}

.content > ul li {
	font-family: 'Lora', serif;
	margin-bottom: 1rem;
	line-height: 1.6rem;
}

.content > blockquote {
	padding: 1rem 3.5rem 0rem 3.5rem;
	font-family: 'Lora', serif;
	letter-spacing: -0.02rem;
	line-height: 2.4rem;
	font-size: 2rem;
	font-style: italic;
}

.content > blockquote.smaller {
	font-size: 1.4rem;
	line-height: 2rem;
}

.content > div.quoter {
	padding: 1rem 3rem 2.5rem 0;
	text-align: right;
	font-family: 'Lora', sans-serif;
	font-style: italic;
	font-size: .8rem;
}

.content a.code-ref {
	color: #000;
	text-decoration: none;
	cursor: context-menu;
	/*background-color: #c4dfec;*/
	background-color: #ffed95;
}

.content a.code-ref:hover,
.content a.code-ref:hover > code {
	color: #006ea5 !important;
	cursor: context-menu;
}

code {
	color: #000;
	font-family: 'Roboto Mono', monospace;
	font-size: .8rem;
	padding: 2px 4px;
	border-radius: 4px;
	cursor: default;
	background-color: #efefef;
	border: solid 1px #ccc;
}

a.code-ref > code {
	background-color: inherit;
	padding: 0;
	margin: 0;
	border: none;
}


span.key {
	padding: .2rem .4rem;
	margin: 0 .2rem;
	border-radius: .2rem;
	border-bottom: solid 2px #ccc;
	border-right: solid 2px #ccc;
	background-color: #efefef;
	font-size: .8rem;
	font-family: 'Roboto Mono', monospace;
	color: #666;
}

.content hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    color: #ccc;
    text-align: center;
    padding: .5rem 0 1.5rem 0;
}

hr:after {
    content: "* * *";
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1200px) {
  * {
    font-size: 18px;
  }

.grid-content {
	grid-template-columns: 1fr 6fr 2fr;
}

.grid-right-code {
	grid-template-columns: 1fr 4fr 5fr 1fr;
}

.grid-left-code {
	grid-template-columns: 1fr 5fr 4fr 1fr;
}

.grid-code-only {
	grid-template-columns: 1fr 6fr 2fr;
}

}

@media only screen and (max-width: 800px) {
  * {
    font-size: 17px;
  }

.grid-cover {
	display: block;
	margin: 0 1rem;
}

.grid-content {
	display: block;
	margin: 0 1rem;
}

.grid-right-code { 
	display: block;
	margin: 0 1rem;
}

.grid-left-code {
	display: block;
	margin: 0 1rem;
}

.grid-code-only {
	display: block;
	margin: 0 1rem;
}

#grid-prev-next {
	grid-template-columns: 5fr 45fr 45fr 5fr;
}

.cover > h1 {
	font-size: 3rem;
	line-height: 3rem;
	margin-bottom: 1rem;
}

.cover > h2 {
	font-size: 1.2rem;
	font-style: italic;
}

.cover > h3 {
	padding-top: 1.8rem;
	font-size: 1.2rem;
	text-align: left;
}

.cover > h4 {
	padding-top: 1rem;
	font-size: 1rem;
	text-align: left;
}

.cover > h5 {
	text-align: left;
}

.content > h2,
.content > h3,
.content > h4,
.content > p {
	padding-left: 0;
	padding-right: 0;
}

.content > ul {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.content > blockquote {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

}
 
